@font-face {
  font-family: "Circular-Black";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Black"),
    url(../../fonts/CircularStd-Black.otf) format("otf");
}

@font-face {
  font-family: "Circular-Book";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Book"),
    url(../../fonts/CircularStd-Book.otf) format("otf");
}
/*
.container-rooms-home {
  margin-top: 25%;
  width: 20%;
  padding: 0.5%;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
}

.titulo-list-room {
  font-family: "Circular-Black";
  font-size: 22px;
  margin-top: 8%;
  margin-left: -9%;
  position: absolute;
}

.contenedor {
  margin-left: 33%;
  width: 70%;
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.image-rooms {
  object-fit: cover;
  width: 160px;
  height: 200px;
}

.titlle-rooms-home {
  font-family: "Circular-Black";
  font-size: 20px;
  margin-top: 3%;
  margin-left: 0%;
}

.description-rooms-home {
  font-family: "Circular-Book";
  font-size: 15px;
  width: 165px;
}

.pictogramas-list-room {
  margin-top: -6%;
  margin-bottom: 6.6%;
}

.price {
  font-family: "Circular-Black";
  font-size: 13px;
  margin-left: 1%;
  margin-top: 2%;
}

.picto2,
.picto3 {
  padding-left: 3%;
}
*/


  .container-rooms-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 15%;
  }
 
  .titulo-list-room{
    width: 70%;
    font-family: "Circular-Black";
    font-size: 22px;
    margin-top: 8%;
    position: absolute;
    margin-left: 16%;
  }

  .rooms-list-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top:40%;
 
  }

  .image-rooms {
    object-fit: cover;
    width: 160px;
    height: 220px;
  }

  .tittle-rooms-home{
    font-family: "Circular-Black";
    font-size: 20px;
    margin-top:2%;
    padding: 0;
    margin-bottom:0;
  }

  .contenedor-rooms-home{
    display:flex;
    flex-direction: column;
  }

  .description-rooms-home {
    font-family: "Circular-Book";
    font-size: 15px;
    width: 165px;
    margin-top:3%;
  }

  .pictogramas-list-room {
    display: none;
  }

  .price {
    font-family: "Circular-Black";
    font-size: 15px;
    margin-top:-9%;

  }

  .button-viewmore-home {
    font-family: "Circular-Book";
    color: white;
    background-color: black;
    width: 90px;
    height: 35px;
    font-size: 14px;
    border-color:transparent;
    display: flex;
    flex-direction: column;
    border-color:transparent;
    text-align: center;
    margin-top:10px;
    

    
  }

  .button-viewmore-home:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    
  }

  .picto2,
  .picto3 {
    display: none;
  }


.room01{
margin-top:-230%;
margin-left:28%;
}

.room02{
  margin-top:100%;
  margin-left:27%;
  }

  .room03{
    margin-top:100%;
    margin-left:27%;
    }