.background-home{
    background-size: cover;
    width: 100%;

}

.saludo{
    font-size: 40px;
    color:red;
}

h1{
    color:white;
    font-size: 80px;
    margin-top:-45%;
    line-height: 70px;
    margin-left:4%;
}

.slogan-h1{
    color:white;
    margin-left:30%;
    margin-top:-10%;
    font-size: 18px;
}

.discover{
color:white;
font-size: 20px;
margin-top:60%;
margin-left:-40%;
}

.scroll{
    color:gainsboro;
    font-size:20px;
    margin-top:40%;
}

.slogan-vertical{
    font-size: 18px;
    color:white;
    writing-mode: vertical-lr;
   margin-left: 95%;
   margin-top: -30%;

}

.logo{
    width: 4%;
margin-left:5%;
margin-top:-75%;
}

.container-body{
    display: grid;
    width: 100%;
 /*   grid-template-columns: 360px 1fr;    
    grid-column-gap: 30px;
    align-content: center;*/

}

/*
.about{
    display: grid;
  width: 100%;
  grid-template-columns: 360px 1fr;                                                                                                                                                                      
}
*/
h2{
    font-size: 30px;
    margin-top:35%;
    display: flex;
    justify-content: center;
    margin-left: -40%;
 
}

.text-about{
    display: grid;
    font-size: 25px;
    line-height: 30px;
    margin-top:-6.5%;
    margin-left:13%;
    display: flex;
    justify-content: center;
}

.text-gallery{
    display: grid;
    font-size: 16px;
    line-height: 19px;
   /* display: flex;
    justify-content: center;*/
    margin-left:9%;

}

