/*Todo el slider*/
.rcs_sliderSet{
    width: 20% !important;
    display: flex;
    justify-content: center;
    margin-left:3.4%;
  
}

/*Caja que contiene imagenes*/
.rcs_sliderBox {
    width: 40% ;
    background-color: white !important;
   
}

/*Conjunto de botones*/
.rcs_buttonSet{
    background-color: transparent ;

}

.rcs_arrowBtn {
    background-color:transparent !important;
    color: black !important;

}

/*Boton individual*/
.rcs_buttonWrapper{
    background-color: transparent;
 
}

/*Image */
.rcs_slideCon{
border-color: transparent !important;
}

/*Imagen individual*/
.itemWrapper{
    background-color: transparent;
  
}

/*Botones Slider*/

.rcs_dotsSet{
display: none;
}

