/*Todo el slider*/
.rcs_sliderSet {
  width: 60% !important;
  display: flex;
  justify-content: center;
  margin-left: 23%;
}

/*Caja que contiene imagenes*/
.rcs_sliderBox {
  width: 40%;
  background-color: white !important;
}

/*Conjunto de botones*/
.rcs_buttonSet {
  background-color: transparent;
}

.rcs_arrowBtn {
  background-color: transparent !important;
  color: black !important;
}

/*Boton individual*/
.rcs_buttonWrapper {
  background-color: transparent;
}

/*Image */
.rcs_slideCon {
  border-color: transparent !important;
}

/*Imagen individual*/
.itemWrapper[style] {
  background-color: transparent;
  max-width: 30% !important;
}

/*Botones Slider*/
.rcs_dotsSet {
  display: none;
}

.galery-tittle {
  font-family: "Circular-Black";
  font-size: 22px;
  margin-top: 8%;
  margin-left: 26%;
  width: 15%;
}

.text-gallery {
  font-family: "Circular-Book";
  width: 480px;
  display: grid;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  margin-left: 36%;
  text-align: center;
}

@media (max-width: 375px) {
  /*Todo el slider*/
  .rcs_sliderSet {
    width: 70% !important;
    margin-left: 15% !important;
  }

  /*Caja que contiene imagenes*/
  .rcs_sliderBox {
    width: 100%;
  }

  div[style]{
    background-color:white;
    width: 100%;
  }

  .container-slider{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:12%;
  }

  .galery-tittle {
    text-align: center;
    width: 50%;
    margin-left:25%;
  }
  
.text-gallery {
  font-family: "Circular-Book";
  width: 75%;
  margin-left: 12%;
}
}
