@font-face {
    font-family: "Circular-Black";
    font-style: normal;
    font-weight: normal;
    src: local("CircularStd-Black"),
      url(../../fonts/CircularStd-Black.otf) format("otf");
  }
  
  @font-face {
    font-family: "Circular-Book";
    font-style: normal;
    font-weight: normal;
    src: local("CircularStd-Book"),
      url(../../fonts/CircularStd-Book.otf) format("otf");
  }
  

.container-rooms{
   // width: 900px;
    margin-left:28%;   
}


.container-image{
  //  display: flex;
   // flex-direction: row;

}

.image-rooms-{
    width: 140px;
    height: auto;
    margin-top:-5%; 
    padding-right: 2%;
}

.image-rooms2-{
    width: 400px;
    height: auto;
    margin-top:2%

}

.image-rooms3-{
    width: 150px;
    height: auto;
    margin-top:-5%; 
    padding-left: 2%;
}

.titlle-rooms{
margin-top:65%;
font-family: "Circular-Black";
}

.titlle2-rooms{
    font-family: "Circular-Black";
    }

.description-rooms{
    font-family: "Circular-Book";
    font-size:15px;
    width: 410px;
    margin-left:13%;
    line-height: 18px;
    margin-top:2%;
    text-align: center;
}

.button-rooms-list{
    margin-left:28%;
}