@font-face {
  font-family: "Circular-Black";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Black"),
    url(../../fonts/CircularStd-Black.otf) format("otf");
}

@font-face {
  font-family: "Circular-Book";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Book"),
    url(../../fonts/CircularStd-Book.otf) format("otf");
}

.cabecera {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.video iframe {
  display: none;
}

.line {
  display: none;
}

.h1-tittle {
  position: relative;
}

h1 {
  color: white;
  font-family: "Circular-Black";
  font-size: 50px;
  line-height: 40px;
  margin-top: -270%;
}

.image-mobile img {
  display: flex;
  justify-content: flex-start;
  width: 375px;
  height: 617px;
  object-fit: cover;
  margin-top: -3%;
}

@media (min-width: 769px) {

  .cabecera {
    max-width: 70%;
    justify-content: flex-start;
    margin: 0;
  }

  .image-mobile img {
    display: flex;
    justify-content: flex-start;
    width: 900px;
    height: 658px;
    object-fit: cover;
  }

  .video-container iframe{
    display:none;
  }

  h1 {
    color: red;
    font-size: 80px;
    margin-top: -90%;
    line-height: 70px;
    margin-left: -350%;
    font-family: "Circular-Black";
    position: relative;
  }

  .line {
    width: 100px;
    height: 707px;
    background-color: black;
  }
}
