@font-face {
  font-family: "Circular-Black";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Black"),
    url(../../fonts/CircularStd-Black.otf) format("otf");
}

@font-face {
  font-family: "Circular-Book";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Book"),
    url(../../fonts/CircularStd-Book.otf) format("otf");
}

.body{
  width: 1400px !important;
  height: 700px;
}


.video {
  margin-left: -19%;
  width: 1400px !important;
  height: 700px;
  margin-top: 0%;
}
.logo {
  width: 5%;
  margin-left: 5%;
  margin-top: -28%;
  position: absolute;
}

.background-home {
  background-size: cover;
  width: 1420px;
  height: 690px;
}

h1 {
  color: white;
  font-size: 80px;
  margin-top: -30%;
  line-height: 70px;
  margin-left: 4%;
  font-family: "Circular-Black";
  position: relative;
}

.container-body {
  display: grid;
  width: 100%;
  /*   grid-template-columns: 360px 1fr;    
    grid-column-gap: 30px;
    align-content: center;*/
}

.line {
  width: 10px;
  height: 725px;
  background-color: black;
  margin-left: 72.8%;
  margin-top: -31%;
}

.form-book {
  display: block;
  margin-top: 3%;
  margin-left: 80%;
}

.title-booknow {
  color: black;
  font-size: 40px;
  margin-top: -39%;
  line-height: 40px;
  margin-left: 72%;
  font-family: "Circular-Black";
  position: relative;
}

.account {
  margin-top: -33%;
  margin-left: 79.5%;
  display: flex;
  flex-direction: row;
}

.prueba-sign {
  font-family: "Circular-Book";
  font-size: 15px;
}

.login {
  font-family: "Circular-Book";
  font-size: 15px;
}
