@font-face {
    font-family: "Circular-Black";
    font-style: normal;
    font-weight: normal;
    src: local("CircularStd-Black"),
      url(../fonts/CircularStd-Black.otf) format("otf");
  }
  
  @font-face {
    font-family: "Circular-Book";
    font-style: normal;
    font-weight: normal;
    src: local("CircularStd-Book"),
      url(../fonts/CircularStd-Book.otf) format("otf");
  }

h2{
    font-family: "Circular-Black";
    font-size: 15px;
    color:black;
}
.galery-text, .about-tittle{

font-family: "Circular-Black";
font-size: 20px;
margin-top:5%;

}

.textAbout{
    font-family: "Circular-Book";
    font-size: 25px;
    line-height: 30px;
    margin-top:-7.4%;
    margin-left:35%;

}

.text-gallery{
    font-family: "Circular-Book";
    display: grid;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    margin-left:-3.5%;


}

.tittleAbout{
text-align: center;
margin-left:17%;
margin-top:25%;
display: flex;
justify-content: center;
}