@font-face {
  font-family: "Circular-Black";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Black"),
    url(../fonts/CircularStd-Black.otf) format("otf");
}

@font-face {
  font-family: "Circular-Book";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Book"),
    url(../fonts/CircularStd-Book.otf) format("otf");
}

  .offer-left {
      margin-left:20%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  
  }
  
  .tittle-offer-left {
    margin-top: 60%;
    width: 380px;
    font-family: "Circular-Black";
    font-size: 20px;
  }
  
  .image-offer-left {
      width: 350px;
   margin-left:45%;
   margin-top:-6%;
  }
  
  .description-offer-left {
    font-family: "Circular-Book";
    font-size:16px;
    width: 400px;
    margin-top:-12%;
  }
  
  .button-offer-left {
  }
  

  .offer-right {
    margin-left:20%;
    margin-top:-40%;

}

.tittle-offer-right {
  margin-top: 90%;
  width: 380px;
  font-family: "Circular-Black";
  font-size: 20px;
  margin-left:43%;
 
}

.image-offer-right {
width: 350px;
 margin-left:0%;
 margin-top:-9%;
}

.description-offer-right {
  font-family: "Circular-Book";
  font-size:16px;
  width: 400px;
  margin-top:-10%;
  margin-left: 43%;
}

.button-offer-right{
    margin-left:43%;
}
