@font-face {
    font-family: "Circular-Black";
    font-style: normal;
    font-weight: normal;
    src: local("CircularStd-Black"),
      url(../fonts/CircularStd-Black.otf) format("otf");
  }
  
  @font-face {
    font-family: "Circular-Book";
    font-style: normal;
    font-weight: normal;
    src: local("CircularStd-Book"),
      url(../fonts/CircularStd-Book.otf) format("otf");
  }

.section01-service{
  margin-left:30%;
}


.title-service-01{
    margin-top: 70%;
    width: 380px;
    font-family: "Circular-Black";
    font-size: 20px;
    margin-left: -15%;
}

.text-service{
  font-family: "Circular-Book";
  font-size:15px;
  width: 300px;
  margin-top:4%;
  margin-left: -4%;
}

.img01-service{
    width: 350px;
    margin-left:33%;
    margin-top:-42%;
}

.button-service-01{
    margin-top:1%;
    margin-left:-72%;
}

//------SECTION 02

.section02{
    margin-left:30%;
    margin-top:-43%;
  }

.title-service-02{
    margin-top: 70%;
    width: 380px;
    font-family: "Circular-Black";
    font-size: 20px;
    margin-left: -14%;
}

.text-service02{
  font-family: "Circular-Book";
  font-size:15px;
  width: 380px;
  margin-top:3%;
  margin-left: -4%;
}

.img02-service{
    width: 450px;
    margin-left:-4.5%;
    margin-top:2%;
}
.img03-service{
    width: 150px;
    margin-left:3%;
    margin-top:-6%;
}

.button-service-02{
    margin-top:1%;
    margin-left:-72%;
}

//SECTION 03

.section03{
    margin-left:30%;
    margin-top:-43%;
  }

.title-service-03{
    margin-top: 70%;
    width: 380px;
    font-family: "Circular-Black";
    font-size: 20px;
    margin-left: -14%;
}

.text-service03{
  font-family: "Circular-Book";
  font-size:15px;
  width: 380px;
  margin-top:3%;
  margin-left: -4%;
}

.img04-service{
    width: 450px;
    margin-left:-6.3%;
    margin-top:2%;
}
.img05-service{
    width: 150px;
    margin-left:2%;
    margin-top:-5%;
}

.text-service03{
    font-family: "Circular-Book";
    font-size:15px;
    width: 400px;
    margin-top:3%;
    margin-left: -6%;
  }