@font-face{
  src:url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,700,800&display=swap');
  font-family: 'Merriweather Sans', sans-serif;
}

.container-description-room {
  margin-left: 10%;
  margin-top: 50%;
  width: 60%;
}

.container-room-01 {
  margin-top: -3%;
}
.tittle-room-01 {
  font-family: 'Merriweather Sans' sans-serif;
  font-weight:800;
  font-size: 28px;
  margin-left: 23.5%;
  width: 10%;
}

.image01-room-01 {
  width: 380px;
  margin-left: 22%;
  margin-top: 4%;
  height: auto;
}

.image02-room-01 {
  width: 140px;
  margin-left: 70%;
  margin-top: -38%;
}

.image03-room-01 {
  width: 140px;
  margin-left: 90%;
  margin-top: -43%;
}

.description-room01 {
  width: 380px;
  font-family: 'Merriweather Sans' sans-serif;
  font-weight:300;
  font-size: 16px;
  margin-left: 22%;
  margin-top: -4%;
}

.button-room01 {
  margin-left: 23%;
}

//SECTION 02

.destacado02-room01 {
  margin-left: 6%;
}
.tittle-destacado02-room01 {
  font-family: 'Merriweather Sans' sans-serif;
  font-weight:800;
  font-size: 22px;
  margin-top: 10%;
  margin-left: 22%;
}

.text-destacado-room01 {
  font-family: 'Merriweather Sans' sans-serif;
  font-weight:300;
  font-size: 16px;
  line-height: 18px;
  margin-top: 3%;
  margin-left: 22%;
  width: 300px;
}

.image04-room-01 {
  width: 200px;
  margin-left: 55%;
  margin-top: -20%;
}

.container-room {
  margin-top: -40%;
}

.button-deital-rooms {
  font-family: 'Merriweather Sans' sans-serif;
  font-weight:300;
  color: white;
  background-color: black;
  width: 90px;
  height: 35px;
  font-size: 14px;
  border-color: transparent;
}

.button-deital-rooms:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.container-map {
  margin-left: 5%;
}
