@font-face {
  font-family: "Circular-Black";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Black"),
    url(../fonts/CircularStd-Black.otf) format("otf");
}

@font-face {
  font-family: "Circular-Book";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Book"),
    url(../fonts/CircularStd-Book.otf) format("otf");
}

.about-tittle {
  font-family: "Circular-Black";
  font-size: 22px;
  margin-top: 210%;
  margin-left: -65%;
}

.galery-tittle {
  font-family: "Circular-Black";
  font-size: 22px;
  margin-top: 7%;
  margin-left: -40%;
}

.textAbout {
  font-family: "Circular-Book";
  font-size: 20px;
  line-height: 30px;
  margin-top: -6%;
  margin-left: 35%;
}

.text-gallery {
  font-family: "Circular-Book";
  width: 500px;
  display: grid;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  margin-left: 33%;
  text-align: center;
}

.tittleAbout {
  text-align: center;
  margin-left: 17%;
  margin-top: 25%;
  display: flex;
  justify-content: center;
}

@media (max-width: 375px) {
  .about-tittle {
    margin-top: 210%;
    margin-left: -65%;
  }

  .textAbout {
    font-size: 18px;
    line-height: 20px;
    margin-top: -15%;
    margin-left: 55%;
  }
  
  .galery-tittle {
    margin-top: 11%;
    margin-left: -20%;
  }

  .text-gallery {
    font-family: "Circular-Book";
    width: 350px;
    margin-left: 9%;
    margin-top:0%;
  }

  .tittleAbout {
    text-align: center;
    margin-left: 17%;
    margin-top: 25%;
    display: flex;
    justify-content: center;
  }
}
