@font-face {
  src: url("https://fonts.googleapis.com/css?family=Merriweather+Sans:300,700,800&display=swap");
  font-family: "Merriweather Sans", sans-serif;
}

.container-textAbout {
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  padding-left: 20%;
  padding-right: 10%;
  margin-top: 10%;
}

.about-tittle {
  font-family: "Merriweather Sans" sans-serif;
  font-weight: 800;
  font-size: 22px;
}

.textAbout {
  font-family: "Merriweather Sans" sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: 769px) {
  .container-textAbout {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about-tittle {
    font-family: "Merriweather Sans" sans-serif;
    font-weight: 800;
    border: 1px solid blue;
    font-size: 35px;
    text-align: center;
    margin: 0;
    transform: rotate(-90deg);
  }

  .textAbout {
    font-family: "Merriweather Sans" sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0%;
    padding-left: 8%;
  }

  .p-about {
    width: 70%;
    margin: 0;
  }
}
