@font-face {
  font-family: "Circular-Black";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Black"),
    url(../fonts/CircularStd-Black.otf) format("otf");
}

@font-face {
  font-family: "Circular-Book";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Book"),
    url(../fonts/CircularStd-Book.otf) format("otf");
}

//CONTAINER TOTAL (FORM/LIST ROOMS / DATES / TITTLE)
.container-reservation {
  display: flex;
  flex-direction: row;
  margin: 0%;
  align-items: center;
  justify-content: space-around;
  margin-top:1%;
}
//CONTAINER MAP
.container-map-room-firebase {
  // margin-top: 15%;
}
//CONTAINER ROOMS
.container-room-firebase {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
  align-content: center;
  border: 0.6px solid gainsboro;
  padding: 20px;
}

//CONTAINER TEXTO
.rooms-list-available {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

//PRECIO Y BOTON  y disponibilidad CONTAINER
.button-price {
  display: flex;
  flex-direction: column;
  font-family: "Circular-Black";
  font-size: 20px;
  align-items: center;
  margin-top: 5%;
}

//CONTAINER ROOM
.image-room {
  display: flex;
  align-self: flex-start;
}

.room-image {
  object-fit: contain;
  width: 200px;
  height: 150px;
}

//DETALLES
.tittle-reservation {
  font-family: "Circular-Black";
  font-size: 30px;
}
.room-typology {
  font-family: "Circular-Book";
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  margin: 0%;
}

.room-name {
  font-family: "Circular-Black";
  font-size: 20px;
  line-height: 20px;
  width: 80%;
}

.room-nodisponible {
  font-family: "Circular-Black";
  font-size: 13px;
  letter-spacing: 0px;
  color: red;
  margin: 0%;
  text-align: center;
}

.room-totalRooms {
  font-family: "Circular-Black";
  font-size: 14px;
  margin-top: 3%;
}

.room-description {
  font-family: "Circular-Book";
  font-size: 13px;
  width: 70%;
}

//BUTTON
.button-deital-rooms {
  font-family: "Circular-Book";
  color: white;
  background-color: black;
  width: 90px;
  height: 35px;
  font-size: 14px;
  border-color: transparent;
}

.button-deital-rooms:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.disabled {
  font-family: "Circular-Book";
  font-size: 14px;
  width: 90px;
  height: 35px;
  background-color: gainsboro;
  color: grey;
}

//CALENDARIO COMPONENT
.calendar-page-reservation {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

//DATOS ELEGIDOS DE RESERVA

.select-date {
  display: flex;
  height: auto;
  margin:0%;
  width: 200px;
  padding: 8px;
}

.check-selected {
  font-family: "Circular-Black";
}

.date-selected {
  font-family: "Circular-Book";
}

//CONTAINER LEFT DESCRIPTION TITTLE, IMAGE, DESCRIPTION
.container-description-reservation {
  display: flex;
  flex-direction: column;
  height: auto;
}

.tittle-reservation{
  font-family: "Circular-Black";
  
}
.image-description {
  object-fit: cover;
  width: 400px;
  height: 200px;
}

.text-description-reservation {
  font-family: "Circular-Book";
  font-size: 16px;
  width: 400px;
  margin:0%;
}

.tittle-date-selected{
  font-family: "Circular-Black";

}