@font-face {
  src: url("https://fonts.googleapis.com/css?family=Merriweather+Sans:300,700,800&display=swap");
  font-family: "Merriweather Sans", sans-serif;
}

.container-total-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 7%;
}

.container-rooms-01 {
  display: flex;
  flex-direction: column;
  width: 700px;
  justify-content: space-around;
  margin: 0;
  margin-bottom: 10%;
}

.container-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-rooms- {
  object-fit: contain;
  width: 150px;
  height: 150px;
  margin: 0px;
}

.image-rooms2- {
  width: 400px;
  height: 300px;
}

.image-rooms3- {
  object-fit: contain;
  width: 150px;
  height: 150px;
}

.titlle-rooms {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 28px;
  margin-left: 4%;
}

.text-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
  margin: 0;
  margin-left: 14%;
  align-content: center;
  align-items: center;
}
.description-rooms {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  width: 400px;
}
