@font-face{
  src:url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,700,800&display=swap');
  font-family: 'Merriweather Sans', sans-serif;
}


  .mb-4, .container-content, .mt-4, .rowm, .probar{
    font-family: 'Merriweather Sans' sans-serif;
    font-weight:300;
    font-size: 15px;
    margin-top: 4.1% !important;
    margin-left: 8%;
  }

  @media (max-width: 375px) {
    .mb-4, .container-content, .mt-4, .rowm, .probar{
      margin-top: 7% !important;
      margin-left: 0%;
    }

    
  }