@font-face {
    font-family: "Circular-Black";
    font-style: normal;
    font-weight: normal;
    src: local("CircularStd-Black"),
      url(../../fonts/CircularStd-Black.otf) format("otf");
  }

  @font-face {
    font-family: "Circular-Book";
    font-style: normal;
    font-weight: normal;
    src: local("CircularStd-Book"),
      url(../../fonts/CircularStd-Book.otf) format("otf");
  }


  .mb-4, .container-content, .mt-4, .rowm, .probar{
    font-family: "Circular-Book";
    font-size: 15px;
    margin-top: 4.1% !important;
    margin-left: 8%;
  }

  @media (max-width: 375px) {
    .mb-4, .container-content, .mt-4, .rowm, .probar{
      margin-top: 7% !important;
      margin-left: 5%;
    }

    
  }