@font-face{
  src:url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,700,800&display=swap');
  font-family: 'Merriweather Sans', sans-serif;
}



.titulo-list-picto {
  font-family: 'Merriweather Sans' sans-serif;
  font-weight:800;
  font-size: 22px;
  margin-top: 8%;
  margin-left: -30%;
}

.pictos-list {
  margin-top: 6%;
  margin-left: 42%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.pictos-list2 {
  margin-top: 4%;
  margin-left: 13.5%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}
.picto-list-1,
.picto-list-2,
.picto-list-3,
.picto-list-4,
.picto-list-5,
.picto-list-6,
.picto-list-7,
.picto-list-8 {
  padding-right: 7%;
  width: 12%;
}

@media (max-width: 375px) {
 .container-pictos-home{
   margin-top: 10%;
 }
  .titulo-list-picto {
    font-family: 'Merriweather Sans' sans-serif;
  font-weight:800;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 0%;
    text-align: center;
  }

div .pictos-list .pictos-list-2{
  width: 400px;
  height:400px;
}
  .pictos-list {
    margin-left: 25%;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
  }

  .pictos-list2 {
    margin-top: -5%;
    margin-left: 25%;
  }
  .picto-list-1,
  .picto-list-2,
  .picto-list-3,
  .picto-list-4,
  .picto-list-5,
  .picto-list-6,
  .picto-list-7,
  .picto-list-8 {
    padding-right: 11%;
    width: 23%;
  }
}