@font-face {
  font-family: "Circular-Black";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Black"),
    url(../../fonts/CircularStd-Black.otf) format("otf");
}

.titulo-list-picto {
  font-family: "Circular-Black";
  font-size: 22px;
  margin-top: 5%;
  margin-left: -49%;
}

.pictos-list {
  margin-top: 6%;
  margin-left: 43%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.pictos-list2 {
  margin-top: 4%;
  margin-left: 14%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}
.picto-list-1,
.picto-list-2,
.picto-list-3,
.picto-list-4,
.picto-list-5,
.picto-list-6,
.picto-list-7,
.picto-list-8 {
  padding-right: 7%;
  width: 12%;
}

@media (max-width: 375px) {
 .container-pictos-home{
   margin-top: 10%;
 }
  .titulo-list-picto {
    font-family: "Circular-Black";
    font-size: 20px;
    margin-top: 5%;
    margin-left: 0%;
    text-align: center;
  }

div .pictos-list .pictos-list-2{
  width: 400px;
  height:400px;
}
  .pictos-list {
    margin-left: 25%;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
  }

  .pictos-list2 {
    margin-top: -5%;
    margin-left: 25%;
  }
  .picto-list-1,
  .picto-list-2,
  .picto-list-3,
  .picto-list-4,
  .picto-list-5,
  .picto-list-6,
  .picto-list-7,
  .picto-list-8 {
    padding-right: 11%;
    width: 23%;
  }
}